PUBLIC_APP_NAME=Commune
PUBLIC_APPSERVICE=http://localhost:8989
PUBLIC_BASE_URL=http://localhost:5173
PUBLIC_HOMESERVER=http://localhost:8080
PUBLIC_HOMESERVER_BASE_URL=http://localhost:8080
PUBLIC_HOMESERVER_NAME=localhost:8480
PUBLIC_ALLOW_OTHER_HOMESERVERS=false
PUBLIC_META_TITLE=Commune
PUBLIC_META_IMAGE=https://static.commune.sh/card.png
PUBLIC_META_DESCRIPTION=Matrix-powered public communities
PUBLIC_DEFAULT_THEME=light
