@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide-scroll::-webkit-scrollbar {
      display: none;
    }
    .hide-scroll {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}

@font-face {
    font-family: 'Twemoji';
    src: url('/fonts/TwemojiMozilla-colr.4d2d834.woff2');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/Silkscreen-Regular.ttf');
}

:root {
  --base-font-size: 100%;
}

@media (max-width: 768px) {
    :root {
      //--base-font-size: 80%;
    }
}

:root.dark {
    --background: hsla(0, 0%, 2%, 1);;
    --border: hsla(0, 0%, 9%, 1);;
    --shade-1: hsla(0, 0%, 7%, 1);
    --shade-2: hsla(0, 0%, 9%, 1);
    --shade-3: hsla(0, 0%, 11%, 1);
    --shade-4: hsla(0, 0%, 13%, 1);
    --shade-5: hsla(0, 0%, 15%, 1);
    --shade-6: hsla(0, 0%, 17%, 1);
    --shade-7: hsla(0, 0%, 19%, 1);
    --shade-8: hsla(0, 0%, 21%, 1);
    --shade-9: hsla(0, 0%, 23%, 1);
    --shade-10: hsla(0, 0%, 25%, 1);
    --text: hsla(0, 0%, 90%, 1);
    --light: hsla(0, 0%, 70%, 1);
    --primary: hsla(0, 99%, 33%, 1);
    --logo: hsla(0, 99%, 33%, 1);
    --logo-fill: hsla(0, 0%, 0%, 1);
    --tick: hsla(0, 0%, 90%, 0.8);
    --mask: hsla(0, 0%, 0%, 0.5);
    --tooltip: hsla(0, 0%, 9%, 1);
    --icon: hsla(0, 0%, 35%, 1);
    --icon-hover: hsla(0, 0%, 45%, 1);

    --button-background: hsla(0, 0%, 19%, 1);
    --button-text: hsla(0, 0%, 90%, 1);
    --button-hover: hsla(0, 0%, 22%, 1);
    --button-focus: hsla(0, 0%, 22%, 1);
    --button-active: hsla(0, 0%, 15%, 1);
    --button-border: transparent;

    --button-secondary-background: hsla(0, 0%, 11%, 1);
    --button-secondary-text: hsla(0, 0%, 70%, 1);
    --button-secondary-hover: hsla(0, 0%, 13%, 1);
    --button-secondary-focus: hsla(0, 0%, 13%, 1);
    --button-secondary-active: hsla(0, 0%, 5%, 1);
    --button-secondary-border: transparent;

    --input-background: transparent;
    --input-border: hsla(0, 0%, 15%, 1);
    --input-focus: hsla(0, 0%, 30%, 1);
    --input-text: hsla(0, 0%, 96%, 1);
    --input-placeholder: hsla(0, 0%, 50%, 1);

    --alert: hsla(0, 100%, 50%, 1);

    --container-background: transparent;
    --container-border: transparent;
}

:root.light {
    --background: white;
    --border: hsla(0, 0%, 90%, 1);;
    --shade-1: hsla(0, 0%, 98%, 1);
    --shade-2: hsla(0, 0%, 95%, 1);
    --shade-3: hsla(0, 0%, 92%, 1);
    --shade-4: hsla(0, 0%, 89%, 1);
    --shade-5: hsla(0, 0%, 86%, 1);
    --shade-6: hsla(0, 0%, 83%, 1);
    --shade-7: hsla(0, 0%, 80%, 1);
    --shade-8: hsla(0, 0%, 77%, 1);
    --shade-9: hsla(0, 0%, 74%, 1);
    --shade-10: hsla(0, 0%, 71%, 1);
    --text: hsla(0, 0%, 10%, 1);
    --light: hsla(0, 0%, 25%, 1);
    --primary: hsla(0, 99%, 33%, 1);
    --logo: hsla(0, 0%, 20%, 1);
    --logo-fill: hsla(0, 99%, 44%, 1);
    --tick: hsla(0, 0%, 90%, 0.8);
    --mask: hsla(0, 0%, 0%, 0.5);
    --tooltip: hsla(0, 0%, 90%, 1);
    --icon: hsla(0, 0%, 25%, 1);
    --icon-hover: hsla(0, 0%, 45%, 1);

    --button-background: hsla(0, 0%, 15%, 1);
    --button-text: hsla(0, 0%, 100%, 1);
    --button-hover: hsla(0, 0%, 20%, 1);
    --button-focus: hsla(0, 0%, 20%, 1);
    --button-active: hsla(0, 0%, 5%, 1);
    --button-border: transparent;

    --button-secondary-background: hsla(0, 0%, 92%, 1);
    --button-secondary-text: hsla(0, 0%, 7%, 1);
    --button-secondary-hover: hsla(0, 0%, 90%, 1);
    --button-secondary-focus: hsla(0, 0%, 90%, 1);
    --button-secondary-active: hsla(0, 0%, 88%, 1);
    --button-secondary-border: transparent;

    --input-background: hsla(0, 0%, 100%, 1);
    --input-border: hsla(0, 0%, 80%, 1);
    --input-focus: hsla(0, 0%, 20%, 1);
    --input-text: hsla(0, 0%, 0%, 1);
    --input-placeholder: hsla(0, 0%, 50%, 1);

    --alert: hsla(0, 100%, 50%, 1);

    --container-background: transparent;
    --container-border: transparent;
}
html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-size: var(--base-font-size);
    height: -webkit-fill-available;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: "Inter", "Twemoji", "Apple Color Emoji", "Segoe UI Emoji", "Arial", "Helvetica", sans-serif, "STIXGeneral", "Noto Color Emoji";
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
    overflow: hidden;
    height: 100%;
    height: -webkit-fill-available;
    width: 100%;
    overscroll-behavior: none;
}

.container {
    background: var(--container-background);
    border: 1px solid var(--container-border);
}

.silk {
    font-family: "Silkscreen";
}

button {
    background-color: var(--button-background);
    color: var(--button-text);
    border-radius: 4px;
    font-weight: 500;
}

button:focus {
    background-color: var(--button-focus);
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--button-background);
}


button.secondary {
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-text);
}

button.secondary:focus {
    background-color: var(--button-secondary-focus);
}

button.secondary:hover {
    background-color: var(--button-secondary-hover);
}

button.secondary:active {
    background-color: var(--button-secondary-active);
}

input {
    background-color: var(--input-background);
    color: var(--input-text);
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    font-weight: normal;
    font-size: 0.96rem;
    width: 100%;
}

input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

textarea:focus, input:focus{
    outline: none;
    border: 1px solid var(--input-focus);
}

input::placeholder {
    color: var(--input-placeholder);
}

input.fail {
    border: 1px solid red;
}

input.success {
    border: 1px solid green;
}

.icon > svg {
    fill: var(--icon);
}

.icon > svg:hover {
    fill: var(--icon-hover);
}

.warn {
    color: red;
}

.tippy-box[data-theme~='inline'] {
    padding: 0.5rem 1rem;
    line-height: 1.5;
}

.tippy-box[data-theme~='notifications'] {
    padding: 0;
    border-radius: 9px;
    box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.1);
}

.tippy-box[data-animation="fade"][data-state="hidden"] {
    opacity: 0;
}
[data-tippy-root] {
    max-width: calc(100vw - 10px);
}

.tippy-box {
    position: relative;
    background-color: var(--tooltip);
    color: var(--context-menu-text);
    border-radius: 4px;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity;
    box-shadow: 4px 4px 18px -10px rgba(0, 0, 0, 0.21);
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
    bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
    top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
    right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
    left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
    width: 16px;
    height: 16px;
    color: var(--tooltip);
}
.tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
}

.tippy-content {
    position: relative;
    padding: 0;
    z-index: 1;
    font-size: 14px;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.spinner {
    width: 12px;
    height: 12px;
    cursor: not-allowed;
    border-width: 2px;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mt-mid {
    margin-top: calc(50vh / 2);
}
.stroke {
    stroke: var(--icon);
}

